﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeFile="U_Home.aspx.cs" Inherits="U_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/sendmail.aspx">sendmail</asp:LinkButton>
&nbsp;<asp:LinkButton ID="LinkButton2" runat="server" 
        PostBackUrl="~/VIEWSENDMESSAGE.aspx">view sendmail</asp:LinkButton>
&nbsp;<asp:LinkButton ID="LinkButton3" runat="server" 
        PostBackUrl="~/VIEWINBOX.aspx">inbox</asp:LinkButton>
&nbsp;<asp:LinkButton ID="LinkButton4" runat="server" PostBackUrl="~/sendmail.aspx">view mail</asp:LinkButton>
&nbsp;<asp:LinkButton ID="LinkButton5" runat="server" 
        PostBackUrl="~/VIEWSPAMMER.aspx">spammers</asp:LinkButton>
&nbsp;<asp:LinkButton ID="LinkButton6" runat="server" 
        PostBackUrl="~/VIEWTRASH.aspx">block user</asp:LinkButton>
</asp:Content>

