﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user.master" AutoEventWireup="true" CodeFile="VIEWSPAMMER.aspx.cs" Inherits="VIEWSPAMMER" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td>
                <asp:DataGrid ID="DataGrid2" runat="server" AutoGenerateColumns="False">
                    <Columns>
                        <asp:BoundColumn DataField="sparmid" HeaderText="ID"></asp:BoundColumn>
                        <asp:BoundColumn DataField="date" HeaderText="DATE"></asp:BoundColumn>
                        <asp:BoundColumn DataField="name" HeaderText="USER "></asp:BoundColumn>
                        <asp:BoundColumn DataField="spam" HeaderText="SPAM"></asp:BoundColumn>
                    </Columns>
                </asp:DataGrid>
            </td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</asp:Content>

